body{
	margin:0;
	padding:0;
	background-color: #77B5FE;
}

.sol{
	background-color:#FFF852;
	width:100px;
	height: 100px;
	border-radius: 100px;
	position: absolute;
	top:20px;
	left: 30px;
}

.pasto{
	height:100px;
	background-color:#35B729;
	background-size: cover;
	position:relative;
	top:600px;
}